<h1 class="title">Robotics</h1>


<div class="container-fluid">

    <div class="well" ng-show="!automationActive">
        <div class="factory-build">Requires 25 <span class="glyphicon glyphicon-stop"></span> + 25 <span class="glyphicon glyphicon-cd"></span> + 25 <span class="glyphicon glyphicon-qrcode"></span></div>
        <span class="machine-button"><button class="btn btn-block btn-offworld-active" ng-click="buyAutomation()">Install</button></span>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default machine-panel-drones" ng-show="automationActive">
                <div class="panel-heading"><h4><span class="glyphicon glyphicon-cog"></span> Design</h4></div>
                <div class="panel-body">
                    <div class="panel panel-default factory-input" tooltip-placement="left">
                        <div class="factory-resources"><span class="glyphicon glyphicon-stop"></span> x 2</div>
                    </div>
                    <div class="panel panel-default factory-input" tooltip-placement="left">
                        <div class="factory-resources"><span class="glyphicon glyphicon-cd"></span> x 2</div>
                    </div>
                    <div class="panel panel-default factory-input" tooltip-placement="left">
                        <div class="factory-resources"><span class="glyphicon glyphicon-qrcode"></span> x 1</div>
                    </div>
                    <div class="panel panel-default factory-input" tooltip-placement="left">
                        <div class="factory-resources"><span class="glyphicon glyphicon-oil"></span> x 1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well fade-in" ng-show="automationActive">
                <div class="progress">
                    <div class="progress-bar progress-bar-offworld progress-bar-drones" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{width: (getDrones() + '%')}">
                    </div>
                </div>
                <span class="machine-button" ng-show="droneStatus"><button class="btn btn-block btn-offworld-active" ng-click="build()">Build</button></span>
                <span class="machine-button" ng-show="!droneStatus"><button class="btn btn-block btn-offworld-active" ng-click="impatienceCheck()">Building...</button></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default machine-panel-drones" ng-show="automationActive">
                <div class="panel-heading"><h4><span class="glyphicon glyphicon-user"></span> Population</h4></div>
                <div class="panel-body">
                    <h1 class="drone-total">{{drones}}</h1>
                </div>
            </div>
        </div>

    </div>

</div>







