<div class="panel panel-default">
    <div class="panel-heading"><h4>Facilities</h4></div>
    <div class="panel-body">
        <!--Drilling Rigs-->
        <div class="panel panel-default facility">
            <div class="panel-heading" tooltip-placement="left" uib-tooltip="Increase Ore yield by 1" tooltip-trigger="hover"><span class="glyphicon glyphicon-asterisk"></span> Rigs <div class="pull-right">{{totalRigs}}</div></div>
            <div class="panel-body clearfix">Requires <span class="glyphicon glyphicon-asterisk"></span> x {{rigCost}} <button class="btn btn-offworld-active pull-right" ng-click="buyRig()"> Install</button></div>
        </div>
        <!--Extractors-->
        <div class="panel panel-default facility" ng-show="extractorsAvailable">
            <div class="panel-heading" tooltip-placement="left" uib-tooltip="Increases Metal yield by 1." tooltip-trigger="hover"><span class="glyphicon glyphicon-stop"></span> Extractors <div class="pull-right">{{totalExtractors}}</div></div>
            <div class="panel-body">Requires <span class="glyphicon glyphicon-equalizer"></span> x {{extractorCost}} <button class="btn btn-offworld-active pull-right" ng-click="buyExtractor()"> Install</button></div>
        </div>
        <!--Automated Ore-->
        <div class="panel panel-default facility" ng-show="automationActive && !automatedOre">
            <div class="panel-heading" tooltip-placement="left" uib-tooltip="Ore Drilling performed by Drones" tooltip-trigger="hover"><span class="glyphicon glyphicon-user"></span> Automatic Drilling <div class="pull-right" ng-show="automatedOre">Installing...</div></div>
            <div class="panel-body">Requires <span class="glyphicon glyphicon-user"></span> x {{oreAutomationCost}} <button class="btn btn-offworld-active pull-right" ng-click="buyOreAutomation()"> Install</button></div>
        </div>
        <!--Automated Ore-->
        <div class="panel panel-default facility" ng-show="automationActive && automatedOre && !automatedMetal">
            <div class="panel-heading" tooltip-placement="left" uib-tooltip="Metal Extraction performed by Drones" tooltip-trigger="hover"><span class="glyphicon glyphicon-user"></span> Automatic Extraction <div class="pull-right" ng-show="automatedMetal">Installing...</div></div>
            <div class="panel-body">Requires <span class="glyphicon glyphicon-user"></span> x {{metalAutomationCost}} <button class="btn btn-offworld-active pull-right" ng-click="buyMetalAutomation()"> Install</button></div>

        </div>
    </div>
</div>