<h1 class="title">Mining</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">

            <div class="panel panel-default machine-panel">
                <div class="panel-heading"><h4><span class="glyphicon glyphicon-asterisk"></span> Ore Drilling</h4></div>
                <div class="panel-body">
                    <div class="powerBar">
                        <div class="progress">
                            <div class="progress-bar progress-bar-offworld" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" ng-style="{width: (getOreTimer() + '%')}" ng-click="drill()">
                            </div>
                        </div>
                        <span class="machine-button" ng-show="drillStatus && !automatedOre"><button class="btn btn-block btn-offworld-active" ng-click="drill()">Drill</button></span>
                        <span class="machine-button" ng-show="!drillStatus && !automatedOre"><button class="btn btn-block btn-offworld-active" ng-click="impatienceCheck()">Warming up..</button></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-default machine-panel" ng-show="extractorsActive">
                <div class="panel-heading"><h4><span class="glyphicon glyphicon-stop"></span> Metal Extraction</h4></div>
                <div class="panel-body">
                    <div class="powerBar">
                        <div class="progress">
                            <div class="progress-bar progress-bar-metal" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" ng-style="{width: (getMetalTimer() + '%')}" ng-click="extract()">
                            </div>
                        </div>
                        <span class="machine-button" ng-show="extractorStatus && !automatedMetal"><button class="btn btn-block btn-offworld-active" ng-click="extract()">Extract</button></span>
                        <span class="machine-button" ng-show="!extractorStatus && !automatedMetal"><button class="btn btn-block btn-offworld-active" ng-click="impatienceCheck()">Warming up..</button></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div ng-include="'mining-facilities.html'"></div>
        </div>
    </div>
</div>






